.sidebar {
    flex: 1;
    margin-left: 0px;
    height: 400vh;
    background-color: rgb(234, 244, 247);
    position: sticky;
    top: 50px;
  }
  
  /*height:calc(100vh-50px);*/
  .sidebarWrapper {
    padding: 20px;
    color: rgb(36, 35, 35);
  }
  .sidebarTitle {
    margin-bottom: 10px;
  }
  .sidebarTitle {
    font-size: 13px;
    color: rgb(2, 2, 2);
  }
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(186, 237, 250);
  }
  .sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
  }
  
  #sidebarBtnO{
    background-color: rgb(234, 244, 247);
    border: none;
  }

  #sidebarBtnF{
    background-color: rgb(234, 244, 247);
    border: none;
  }

  #sideBarBtnA {
    background-color: rgb(234, 244, 247);
    border: none;
  }

  #sideBarBtnU {
    background-color: rgb(234, 244, 247);
    border: none;
  }