

.title {
    padding-top: 45vh;
    padding-left: 25vh;
}

.HappyTrailDaycare {
    font-family: 'Righteous', cursive;
    color:white;
    font-weight: bold;
    font-size:70px;

}

.column {
  flex: 50%;
  padding: 10px;
  height: 100vh; 
  }
  
.row {
    display:flex;
}

.scroll {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.greetingText {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 20px;
    
}


.adminbtn {
    background-color: #639FE4;
    width:200px;
    height:60px;
    color:white;
    border:none;
    font-family: 'Roboto';
}

.adminbtn:hover {
    background-color: #1176E9;
}

.parentbtn {
    background-color: #639FE4;
    width:200px;
    height:60px;
    color:white;
    border:none;
    font-family: 'Roboto';
}

.parentbtn:hover {
    background-color: #1176E9;
}



td {
    padding: 20px 50px;
}

table {
    margin-left: 20%;
}

.Inputmail {
margin-left: 290px;
margin-top: 200px;
}

.Inputpass {
    margin-left: 290px;
    margin-top: 20px;
}



