.accountForm {
    margin-left: 50px;
    margin-right: 100px;
    align-items: center;
    margin-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.AccTitle {
    margin-top:100px;
    margin-Left:610px;
}