.Proglistheader {
    margin-left: 55vh;
}

.addProgramtBtn {
    margin-top: 100px;
    margin-left: 350px;
}

.updateProgramBtn {
    margin-top: 50px;
    margin-left: 310px;
}

.removeProgramBtn {
    margin-top: 20px;
    margin-left: 350px;
}